{{!-- NAVBAR PARTIAL --}}

<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
	{{!-- Logo --}}
	<a class="navbar-brand" href="/">
		<img src="/assets/favicon.ico" width="40" height="30" class="d-inline-block align-top" alt="logo">
		keep cheerful
	</a>

	{{!-- Mobile: Navbar Toggler button on right side --}}
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-link" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	{{!-- Navbar links --}}
	<div class="collapse navbar-collapse" id="navbar-links">
		<ul class="navbar-nav mr-auto">
			{{!-- Links for Dashboard (Homepage), /amusing, & /interesting --}}

			<li class="nav-item">
				<a class="nav-link" href="/dashboard">dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/amusing">amuse me!</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/interesting">interest me!</a>
			</li>

			{{!-- Mobile: account dropdown link --}}
			<li class="nav-item dropdown d-block d-lg-none d-xl-none">
				<a class="nav-link dropdown-toggle" href="" id="nav-dropdown-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					&darr; 
					{{#if user}}
						hello, <span class="user-name">{{user.name}}</span>!
					{{else}}
						account
					{{/if}}
				</a>
				{{!-- Dropdown content --}}
				<div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="nav-dropdown-link">
					<h6 class="dropdown-header">hello!</h6>

					{{#if user}}
						<a href="/logout" class="dropdown-item">logout</a>
					{{else}}
						<button type="button" class="dropdown-item" data-toggle="modal" data-target="#signup-modal">signup</button>
						<button type="button" class="dropdown-item" data-toggle="modal" data-target="#login-modal">login</button>
					{{/if}}
				</div>
			</li>
		</ul>
	</div>

	{{!-- Destop: account dropdown button --}}
	<div class="dropdown d-none d-lg-block" id="nav-dropdown">
		<button class="btn btn-outline-light dropdown-toggle" type="button" id="nav-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			&darr; 
			{{#if user}}
				hello, <span class="user-name">{{user.name}}</span>!
			{{else}}
				account
			{{/if}}
		</button>
		{{!-- Dropdown content --}}
		<div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="nav-dropdown-btn" id="nav-dropdown-content">
			<h6 class="dropdown-header">hello!</h6>

			{{#if user}}
				<a href="/logout" class="dropdown-item">logout</a>
			{{else}}
				{{!-- User isn't logged in, display: --}}
				<button type="button" class="dropdown-item" data-toggle="modal" data-target="#signup-modal">create new account</button>
				<button type="button" class="dropdown-item" data-toggle="modal" data-target="#login-modal">login</a>
			{{/if}}
		</div>
	</div>

</nav>

{{!-- import Modal partials --}}
{{> login}}
{{> signup}}